<div>
<nav style="width: 100%;font-size: 40px;font-family:'Times New Roman', Times, serif ; color: black; " class="text-dark"><b>

  <h3 > <a routerLink="/register-component" style="color: rgb(0, 0, 0);" >Register</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/cashless-component" style="color: rgb(0, 0, 0);">Pre - Approval </a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/reimbursement-component" style="color: rgb(0, 0, 0);">Reimbursement</a>
  </h3></b>
  </nav>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>

  </div>