<h1>REGISTRATION DETAILS </h1><br>


<div>
    <div style="width: 100%;height: 100%; font-size: 18px;" class="mediclaim">
            <table>
        <tr>
            <a routerLink="/existing-component"><input type="button" value="NEW REGISTRATION"></a> &nbsp;&nbsp;
            <a routerLink="/update-component"><input type="button" value="UPDATE"></a>
        </tr>
        </table>
    </div>

</div>
      <!-- The routed views render in the <router-outlet>-->
      <router-outlet></router-outlet>
    


